# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.sqlite3
*.db

# Secrets
*.env
